# ASSIGNMENT-4

## WEB SCRAPING

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,InvalidArgumentException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import re
import requests

import time

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.                                                         
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos                                                         
You need to find following details:                                                                                             
A) Rank                                                                                                                         
B) Name                                                                                                                         
C) Artist                                                                                                                       
D) Upload date                                                                                                                  E) Views

In [3]:
# connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)
# opening site
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [19]:
# creating empty list to store data
Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

In [69]:
# scraping whole data in one step 
rank = [] # to store whole data then i will separate them
try:
    for i in driver.find_elements(By.XPATH,'//td')[2:]:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')

In [73]:
# extracting rank from the list contining whole info
Rank = rank[0::6][0:30]

In [78]:
# extractin name of video
Name = rank[1::6][0:30]

In [79]:
# extracting Artist Name
Artist = rank[2::6][0:30]

In [86]:
# extracting views
Views = rank[3::6][0:30]

In [87]:
# extracting upload date
Upload_date = rank[4::6][0:30]

In [91]:
# creating dataframe
df = pd.DataFrame({"RANK":Rank,"VIDEO NAME":Name,"ATRIST":Artist,"VIEWS(BILLIONS)":Views,"UPLOAD DATE":Upload_date},index=list(range(1,len(Upload_date)+1)))
print("Most viewed videos on YouTube from Wikipedia")
df

Most viewed videos on YouTube from Wikipedia

,RANK,VIDEO NAME,ATRIST,VIEWS(BILLIONS),UPLOAD DATE
1,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,11.40,"June 17, 2016"
2,2.,"""Despacito""[6]",Luis Fonsi,7.98,"January 12, 2017"
3,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.47,"October 8, 2016"
4,4.,"""Shape of You""[13]",Ed Sheeran,5.81,"January 30, 2017"
5,5.,"""See You Again""[15]",Wiz Khalifa,5.64,"April 6, 2015"
6,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.63,"May 2, 2018"
7,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.90,"March 6, 2014"
8,8.,"""Uptown Funk""[22]",Mark Ronson,4.70,"November 19, 2014"
9,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.65,"February 27, 2018"
10,10.,"""Gangnam Style""[24]",Psy,4.55,"July 15, 2012"
11,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,4.51,"January 31, 2012"
12,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.40,"May 24, 2018"
13,13.,"""Dame Tu Cosita""[31]",El Chombo,4.07,"April 5, 2018"
14,14.,"""Sugar""[32]",Maroon 5,3.76,"January 14, 2015"
15,15.,"""Roar""[33]",Katy Perry,3.66,"September 5, 2013"
16,16.,"""Counting Stars""[34]",OneRepublic,3.65,"May 31, 2013"
17,17.,"""Sorry""[35]",Justin Bieber,3.59,"October 22, 2015"
18,18.,"""Axel F""[36]",Crazy Frog,3.52,"June 16, 2009"
19,18.,"""Thinking Out Loud""[37]",Ed Sheeran,3.50,"October 7, 2014"
20,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,3.38,"June 25, 2018"
21,21.,"""Dark Horse""[39]",Katy Perry,3.35,"February 20, 2014"
22,22.,"""Faded""[40]",Alan Walker,3.34,"December 3, 2015"
23,23.,"""Girls Like You""[41]",Maroon 5,3.33,"May 31, 2018"
24,24.,"""Let Her Go""[42]",Passenger,3.30,"July 25, 2012"
25,25.,"""Bailando""[43]",Enrique Iglesias,3.27,"April 11, 2014"
26,26.,"""Lean On""[44]",Major Lazer,3.26,"March 22, 2015"
27,27.,"""Perfect""[45]",Ed Sheeran,3.26,"November 9, 2017"
28,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.25,"June 4, 2010"
29,29.,"""Shake It Off""[47]",Taylor Swift,3.21,"August 18, 2014"
30,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.17,"January 26, 2018"

In [92]:
driver.close()

Q2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.                           
You need to find following details:                                                                                             
A) Match title (I.e. 1st ODI)                                                                                                  
B) Series                                                                                                                      
C) Place                                                                                                                       
D) Date                                                                                                                        
E) Time                                                                                                                        
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [96]:
# connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)
# opening site
driver.get("https://www.bcci.tv/.") 
# click on international 
driver.find_element(By.XPATH,'//a[@class="nav-link "]').click()
time.sleep(2)

In [98]:
# click on more
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button').click()

In [101]:
# scraping urls of fixtures
urls = []
for i in driver.find_elements(By.XPATH,'//a[@class="match-center-btn ng-scope"]'):
    urls.append(i.get_attribute("href"))

In [103]:
Match_title = []
Series = []
Place = []
Date = []
Time = []

In [129]:
# scraping Time
try:
    ti = driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
    for i in ti:
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')

In [120]:
for url in urls:
    driver.get(url)
    time.sleep(2)
    # scraping match title
    try:
        mat = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[3]/div[7]/div[3]/div/div[1]/div/div[1]/div[2]')
        Match_title.append(mat.text)
    except NoSuchElementException:
        Match_title.append('-')
    
    # scraping series
    try:
        ser = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[3]/div[7]/div[3]/div/div[1]/div/div[1]/div[1]')
        Series.append(ser.text)
    except NoSuchElementException:
        Series.append('-')        
    
    # scraping place
    try:
        pla = driver.find_element(By.XPATH,'//div[@class="matchVenue alignC"]')
        Place.append(pla.text)
    except NoSuchElementException:
        Place.append('-')   
        
    # scraping date
    try:
        da = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[3]/div[7]/div[3]/div/div[1]/div/div[2]/div[3]/div[2]')
        Date.append(da.text)
    except NoSuchElementException:
        Date.append('-')

In [135]:
# creating dataframe to store data in tabular form
df = pd.DataFrame({"Match_title":Match_title,
                   "Series":Series,
                   "Place":Place,
                   "Date":Date,
                   "Time":Time},index=list(range(1,len(Date)+1)))
print("India’s international fixtures from bcci.tv.")
df

India’s international fixtures from bcci.tv.

,Match_title,Series,Place,Date,Time
1,1st T20I,ASIA CUP WOMENS 2022,"SYLHET OUTER CRICKET STADIUM , SYLHET",1 OCT 2022,1:00 PM IST
2,2nd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,"BARSAPARA CRICKET STADIUM , GUWAHATI",2 OCT 2022,7:00 PM IST
3,2nd T20I,ASIA CUP WOMENS 2022,"SYLHET OUTER CRICKET STADIUM , SYLHET",3 OCT 2022,1:00 PM IST
4,3rd T20I,ASIA CUP WOMENS 2022,"SYLHET OUTER CRICKET STADIUM , SYLHET",4 OCT 2022,1:00 PM IST
5,3rd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,"HOLKAR CRICKET STADIUM , INDORE",4 OCT 2022,7:00 PM IST
6,1st ODI,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,BHARAT RATNA SHRI ATAL BIHARI VAJPAYEE EKANA C...,6 OCT 2022,1:30 PM IST
7,4th T20I,ASIA CUP WOMENS 2022,"SYLHET INTERNATIONAL CRICKET STADIUM , SYLHET",7 OCT 2022,1:00 PM IST
8,5th T20I,ASIA CUP WOMENS 2022,"SYLHET INTERNATIONAL CRICKET STADIUM , SYLHET",8 OCT 2022,1:00 PM IST
9,2nd ODI,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,"JSCA INTERNATIONAL STADIUM COMPLEX , RANCHI",9 OCT 2022,1:30 PM IST
10,6th T20I,ASIA CUP WOMENS 2022,"SYLHET INTERNATIONAL CRICKET STADIUM , SYLHET",10 OCT 2022,1:00 PM IST
11,3rd ODI,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,"ARUN JAITLEY STADIUM , DELHI",11 OCT 2022,1:30 PM IST

In [136]:
# closing the driver
driver.close()

Q3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/                                    
You need to find following details:                                                                                            
A) Name                                                                                                                        
B) Description                                                                                                                 
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [3]:
# connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)
# opening site
driver.get("https://www.guru99.com/") 
time.sleep(2)

In [4]:
# enter selenium exception handling in search bar
driver.find_element(By.XPATH,'//input[@class="gsc-input"]').send_keys("selenium exception handling")
time.sleep(2)
# click on go
driver.find_element(By.XPATH,'//button[@class="gsc-search-button gsc-search-button-v2"]').click()
time.sleep(1)

In [90]:
# click on selenium exception handling
driver.find_element(By.XPATH,'//a[@class="gs-title"]').click()

In [92]:
# shifting to next windows
driver.switch_to.window(driver.window_handles[1])

In [160]:
name = [] # list for storing name

In [161]:
# scraping Name of the exceptions
for k in driver.find_elements(By.XPATH,'//p/strong')[1:42]:
    name.append(k.text)

In [163]:
description = [] #list for storing description

In [164]:
# scraping Description of exceptions
for i in driver.find_elements(By.XPATH,'//p')[2:43]:
    description.append(i.text)

In [165]:
# creating dataframe
df = pd.DataFrame({"Name of Exception":name,"Description":description},index = list(range(1,len(name)+1)))
df

,Name of Exception,Description
1,1. ElementNotVisibleException:,1. ElementNotVisibleException: This type of Se...
2,2. ElementNotSelectableException:,2. ElementNotSelectableException: This Seleniu...
3,3. NoSuchElementException:,3. NoSuchElementException: This Exception occu...
4,4. NoSuchFrameException:,4. NoSuchFrameException: This Exception occurs...
5,5. NoAlertPresentException:,5. NoAlertPresentException: This Exception occ...
6,6. NoSuchWindowException:,6. NoSuchWindowException: This Exception occur...
7,7. StaleElementReferenceException:,7. StaleElementReferenceException: This Seleni...
8,8. SessionNotFoundException:,8. SessionNotFoundException: The WebDriver is ...
9,9. TimeoutException:,9. TimeoutException: Thrown when there is not ...
10,10. WebDriverException:,10. WebDriverException: This Exception takes p...
11,11. ConnectionClosedException:,11. ConnectionClosedException: This type of Ex...
12,12. ElementClickInterceptedException:,12. ElementClickInterceptedException: The comm...
13,13. ElementNotInteractableException:,13. ElementNotInteractableException: This Sele...
14,14. ErrorInResponseException:,14. ErrorInResponseException: This happens whi...
15,15. ErrorHandler.UnknownServerException:,15. ErrorHandler.UnknownServerException: Excep...
16,16. ImeActivationFailedException:,16. ImeActivationFailedException: This expecta...
17,17. ImeNotAvailableException:,17. ImeNotAvailableException: It takes place w...
18,18. InsecureCertificateException:,18. InsecureCertificateException: Navigation m...
19,19. InvalidArgumentException:,19. InvalidArgumentException: It occurs when a...
20,20. InvalidCookieDomainException:,20. InvalidCookieDomainException: This happens...
21,21. InvalidCoordinatesException:,21. InvalidCoordinatesException: This type of ...
22,22. InvalidElementStateException:,22. InvalidElementStateException: It occurs wh...
23,23. InvalidSessionIdException:,23. InvalidSessionIdException: This Exception ...
24,24. InvalidSwitchToTargetException:,24. InvalidSwitchToTargetException: This occur...
25,25. JavascriptException:,25. JavascriptException: This issue occurs whi...
26,26. JsonException:,26. JsonException: It occurs when you afford t...
27,27. NoSuchAttributeException:,27. NoSuchAttributeException: This kind of Exc...
28,28. MoveTargetOutOfBoundsException:,28. MoveTargetOutOfBoundsException: It takes p...
29,29. NoSuchContextException:,29. NoSuchContextException: ContextAware does ...
30,30. NoSuchCookieException:,30. NoSuchCookieException: This Exception occu...
31,31. NotFoundException:,31. NotFoundException: This Exception is a sub...
32,32. RemoteDriverServerException:,32. RemoteDriverServerException: This Selenium...
33,33. ScreenshotException:,33. ScreenshotException: It is not possible to...
34,34. SessionNotCreatedException:,34. SessionNotCreatedException: It happens whe...
35,35. UnableToSetCookieException:,35. UnableToSetCookieException: This occurs if...
36,36. UnexpectedTagNameException:,36. UnexpectedTagNameException: Happens if a s...
37,37. UnhandledAlertException:,37. UnhandledAlertException: This expectation ...
38,38. UnexpectedAlertPresentException:,38. UnexpectedAlertPresentException: It occurs...
39,39. UnknownMethodException:,39. UnknownMethodException: This Exception hap...
40,40. UnreachableBrowserException:,40. UnreachableBrowserException: This Exceptio...
41,41. UnsupportedCommandException:,41. UnsupportedCommandException: This occurs w...

In [194]:
driver.close()

Q4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/                    
You have to find following details:                                                                                            
A) Rank                                                                                                                        
B) State                                                                                                                       
C) GSDP(18-19)                                                                                                                 
D) GSDP(17-18)                                                                                                                 
E) Share(2017)                                                                                                                 
F) GDP($ billion)                                                                                                               
Note: - From statisticstimes home page you have to reach to economy page through code.

In [202]:
# connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)
# opening site
driver.get("http://statisticstimes.com/") 
time.sleep(2)
# click on economy
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button').click()
time.sleep(2)
#click on india
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [203]:
# click on india GDP
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [208]:
# scraping rank
rank = []
for i in driver.find_elements(By.XPATH,'//td[@class="data1"]')[0:33]:
    rank.append(i.text)

In [210]:
# scraping states
state = []
for i in driver.find_elements(By.XPATH,'//td[@class="name"]')[0:33]:
    state.append(i.text)

In [221]:
# scraping GSDP (18-19)
gsdp18_19 = []
for i in driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')[0:33]:
    gsdp18_19.append(i.text)

In [224]:
# scraping GSDP (19-20)
gsdp19_20 = []
for i in driver.find_elements(By.XPATH,'//td[@class="data"]')[0::5][0:33]:
    gsdp19_20.append(i.text)

In [228]:
# scraping share 2019
share = []
for i in driver.find_elements(By.XPATH,'//td[@class="data"]')[1::5][0:33]:
    share.append(i.text)

In [230]:
# scraping GDP($ billion)
GDP = []
for i in driver.find_elements(By.XPATH,'//td[@class="data"]')[2::5][0:33]:
    GDP.append(i.text)

In [232]:
# creating dataframe
df = pd.DataFrame({"Rank":rank,"State":state,"GSDP (18-19)":gsdp18_19,"GSDP (19-20)":gsdp19_20,"Share (2019)":share,"GDP($ billion)":GDP},index = list(range(1,len(GDP)+1)))
print("Indian states by GDP")
df

Indian states by GDP

,Rank,State,GSDP (18-19),GSDP (19-20),Share (2019),GDP($ billion)
1,1,Maharashtra,"2,632,792",-,13.94%,399.921
2,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
3,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
4,4,Gujarat,"1,502,899",-,7.96%,228.290
5,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
6,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
7,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
8,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
9,9,Telangana,"861,031","969,604",4.56%,130.791
10,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
11,11,Kerala,"781,653",-,4.14%,118.733
12,12,Delhi,"774,870","856,112",4.10%,117.703
13,13,Haryana,"734,163","831,610",3.89%,111.519
14,14,Bihar,"530,363","611,804",2.81%,80.562
15,15,Punjab,"526,376","574,760",2.79%,79.957
16,16,Odisha,"487,805","521,275",2.58%,74.098
17,17,Assam,"315,881",-,1.67%,47.982
18,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
19,19,Jharkhand,"297,204","328,598",1.57%,45.145
20,20,Uttarakhand,"245,895",-,1.30%,37.351
21,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
22,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
23,23,Goa,"73,170","80,449",0.39%,11.115
24,24,Tripura,"49,845","55,984",0.26%,7.571
25,25,Chandigarh,"42,114",-,0.22%,6.397
26,26,Puducherry,"34,433","38,253",0.18%,5.230
27,27,Meghalaya,"33,481","36,572",0.18%,5.086
28,28,Sikkim,"28,723","32,496",0.15%,4.363
29,29,Manipur,"27,870","31,790",0.15%,4.233
30,30,Nagaland,"27,283",-,0.14%,4.144
31,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
32,32,Mizoram,"22,287","26,503",0.12%,3.385
33,33,Andaman & Nicobar Islands,-,-,-,-

In [233]:
driver.close()

Q5. Scrape the details of trending repositories on Github.com. Url = https://github.com/                                        
You have to find the following details:                                                                                         
A) Repository title                                                                                                             
B) Repository description                                                                                                       
C) Contributors count                                                                                                           
D) Language used                                                                                                               
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [236]:
# connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)
# opening site
driver.get("https://github.com/")

In [241]:
# click on open source
driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()
time.sleep(2)
# click on trending
driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a').click()

In [261]:
# scraping repo url
url = []
for i in driver.find_elements(By.XPATH,'//h1/a'):
    url.append(i.get_attribute("href"))

In [353]:
rep = []
descp = []
c_count = []
lang = []

In [354]:
for u in url:
    driver.get(u)
    time.sleep(2)
# scraping Repository title
    try:
        r = driver.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]/a')      
        rep.append(r.text)
    except NoSuchElementException:
        rep.append('-')    
# extracting Repository description
    try:
        d = driver.find_element(By.XPATH,'/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[1]/div/p')
        descp.append(d.text)
    except NoSuchElementException:
        descp.append('No descirption')
# extracting Contributors count
    try:
        cc = driver.find_element(By.XPATH,'/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[5]/div/h2/a/span')
        c_count.append(cc.text)
    except NoSuchElementException:
        try:
            cc2 = driver.find_element(By.XPATH,'/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[4]/div/h2/a/span')
            c_count.append(cc2.text)
        except NoSuchElementException:
            try:
                cc3 = driver.find_element(By.XPATH,'/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[5]/div/h2/a/span')
                c_count.append(cc3.text)
            except NoSuchElementException:
                c_count.append('1')
# extracting langauges
    try:
        la = driver.find_element(By.XPATH,'/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[6]/div/ul/li[1]/a/span[1]')
        lang.append(la.text)
    except NoSuchElementException:
        try:
            la2 = driver.find_element(By.XPATH,'/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[5]/div/ul/li/a/span[1]')
            lang.append(la2.text)
        except NoSuchElementException:
            lang.append('-')

In [357]:
# creating dataframe
df = pd.DataFrame({"Repository title":rep,"Repository description":descp,"Contributors count":c_count,"langauge":lang},index=list(range(1,len(lang)+1)))
print("trending repositories on Github")
df

trending repositories on Github

,Repository title,Repository description,Contributors count,langauge
1,workerd,The JavaScript / Wasm runtime that powers Clou...,30,C++
2,cypress,"Fast, easy and reliable testing for anything t...",394,JavaScript
3,cs-video-courses,List of Computer Science courses with video le...,69,-
4,MOOS,C# x64 operating system programming with the ....,6,C#
5,Akebi-GC,Akebi Genshin Cheat for OS/CN 3.0,1,-
6,Freeze,Freeze is a payload toolkit for bypassing EDRs...,1,Go
7,MemoryPack,Zero encoding extreme performance binary seria...,5,C#
8,data-engineering-zoomcamp,Free Data Engineering course!,40,Jupyter Notebook
9,first-contributions,🚀✨ Help beginners to contribute to open source...,"2,638",-
10,Sub,自用clash订阅链接,1,-
11,pytorch,Tensors and Dynamic neural networks in Python ...,"2,458",C++
12,learn-cantrill-io-labs,Standard and Advanced Demos for learn.cantrill...,21,Python
13,linkedin-skill-assessments-quizzes,Full reference of LinkedIn answers 2022 for sk...,,-
14,MaaAssistantArknights,《明日方舟》小助手，全日常一键长草！| An Arknights assistant com...,1,-
15,googletest,GoogleTest - Google Testing and Mocking Framework,369,C++
16,system-design,Learn how to design systems at scale and prepa...,5,-
17,30-Days-Of-Python,30 days of Python programming challenge is a s...,7,Python
18,beginners-typescript-tutorial,An interactive TypeScript tutorial for beginners,1,-
19,Dreambooth-Stable-Diffusion,Implementation of Dreambooth (https://arxiv.or...,1,-
20,30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,31,JavaScript
21,stable-diffusion-webui,Stable Diffusion web UI,85,Python
22,machine-learning-engineering-for-production-pu...,Public repo for DeepLearning.AI MLEP Specializ...,3,Jupyter Notebook
23,towhee,Towhee is a framework that is dedicated to mak...,29,Python
24,FastjsonScan,Fastjson扫描器，可识别版本、依赖库、autoType状态等。A tool to di...,1,Go
25,echarts,"Apache ECharts is a powerful, interactive char...",176,TypeScript

In [358]:
driver.close()

Q6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/                                     
You have to find the following details:                                                                                        
A) Song name                                                                                                                   
B) Artist name                                                                                                                
C) Last week rank                                                                                                              
D) Peak rank                                                                                                                   
E) Weeks on board                                                                                                             
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [360]:
# connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)
# opening site
driver.get("https:/www.billboard.com/") 
time.sleep(2)
# click on hot 100
driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a').click()

In [370]:
# creating empty list to store data
song = []
artist = []
rank = []
la_we_rank = []
pe_rank = []
we_on_bord = []

In [371]:
# scraping song name
for i  in driver.find_elements(By.XPATH,'//h3'):
    song.append(i.text)
song = song[7::4][0:100]

In [388]:
# scraping 1st artist name
ar1=driver.find_element(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
artist.append(ar1.text)

In [391]:
# scraping all other artist name
for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]'):
    artist.append(i.text)

In [416]:
# scraping last weak rank
# all  other
for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]'):
    rank.append(i.text)

In [418]:
# 1st
la=driver.find_element(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
la_we_rank.append(la.text)

In [419]:
la_we_rank = la_we_rank+rank[0::6]

In [425]:
# Peak rank
pr=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[5]/span')
pe_rank.append(pr.text)

In [426]:
pe_rank = pe_rank + rank[1::6]

In [428]:
# scraping Weeks on board
wb=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[6]/span')
we_on_bord.append(wb.text)

In [430]:
we_on_bord = we_on_bord + rank[2::6]

In [432]:
# creating dataframe
df = pd.DataFrame({'Song name':song,'Artist':artist,'Last week rank':la_we_rank,'Peak rank':pe_rank,'Weeks on board':we_on_bord},index=list(range(1,len(song)+1)))
print("top 100 songs on billiboard")
df

top 100 songs on billiboard

,Song name,Artist,Last week rank,Peak rank,Weeks on board
1,As It Was,Harry Styles,1,1,25
2,Bad Habit,Steve Lacy,2,2,12
3,I Like You (A Happier Song),Post Malone Featuring Doja Cat,5,3,16
4,Sunroof,Nicky Youre & dazy,4,4,17
5,Super Freaky Girl,Nicki Minaj,3,1,6
...,...,...,...,...,...
96,Thought You Should Know,Morgan Wallen,98,12,20
97,Where It Ends,Bailey Zimmerman,93,32,5
98,Backstage Passes,EST Gee Featuring Jack Harlow,-,98,1
99,Snap,Rosa Linn,97,93,4
100,Beat The Odds,Lil Tjay,91,36,4

In [433]:
driver.close()

Q7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/                                
You have to find the following details:                                                                                       
A) Name                                                                                                                      
B) Designation                                                                                                                
C) Company                                                                                                                  
D) Skills they hire for                                                                                                       
E) Location                                                                                                                 
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on   search. All this should be done through code

In [508]:
# connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)
# opening site
driver.get("https://www.naukri.com/naukri-dot-com-recruiters")

In [511]:
# enter data science in search bar
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/div/form/div[1]/div/div[1]/div[1]/div[2]/input').clear()
time.sleep(1)
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/div/form/div[1]/div/div[1]/div[1]/div[2]/input').send_keys("Data Science")
time.sleep(1)
# click search
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/div/form/div[1]/button').click()

In [512]:
# scraping urls of recruiter
url = []
for i in driver.find_elements(By.XPATH,'//a[@class="ellipsis"]'):
    url.append(i.get_attribute("href"))

In [521]:
url=url[0::2]

In [522]:
# creating empty list
Name = []
Designation = []
Company = []
Skills_they_hire_for = []
Location = []

In [523]:
for u in url:
    driver.get(u)
    time.sleep(1)
# Extracting Name 
    try:
        n = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[2]/h1')      
        Name.append(n.text)
    except NoSuchElementException:
        Name.append('-')    
# extracting Designation
    try:
        d = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[3]')
        Designation.append(d.text)
    except NoSuchElementException:
        Designation.append('-')
# extracting Company
    try:
        c = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div[2]/p[1]')
        Company.append(c.text)
    except NoSuchElementException:
        Company.append('-')  
# extracting Skills_they_hire_for
    try:
        sk = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div[1]/p[1]')
        Skills_they_hire_for.append(sk.text)
    except NoSuchElementException:
        Skills_they_hire_for.append('-') 
# extracting Location
    try:
        lo = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a')
        Location.append(lo.text)
    except NoSuchElementException:
        Location.append('-')

In [524]:
# creating dataframe
df = pd.DataFrame({"Name":Name,"Designation":Designation,"Company":Company,"Skills_they_hire_for":Skills_they_hire_for,"Location":Location},index=list(range(1,len(Location)+1)))
print("details of Data science recruiters from naukri")
df

details of Data science recruiters from naukri

,Name,Designation,Company,Skills_they_hire_for,Location
1,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer , Internet Marketing Pro...",Delhi
2,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd (Since Dec-2016),".Net , Java , Data Science , Linux Administrat...",Hyderabad / Secunderabad
3,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP (Since Feb-2016),"Mid Level, Junior Level",Pune
4,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,", Mean Stack , javascript , angularjs , mongod...",Ahmedabad
5,subhas patel,Founder & CEO,LibraryXProject,"Hadoop , Spark , Digital Strategy , Data Archi...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and APAC,Recruitment - Lead Consultant,Apidel Technologies Division of Transpower (Si...,"Analytics , Business Intelligence , Business A...",Vadodara / Baroda
7,Institute for Financial Management and Research,Programme Manager,IFMR (Since May-2017),Analytics & Business Intelligence,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd (Since Dec-2014),"Machine Learning , algorithms , Go Getter , Co...",Trivandrum
9,Asif Lucknowi,Director,-,Weupskill- Live Wire India,Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Junior Level, Mid Level",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Mid Level, High Level",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software (Since Feb-2015),"Qa , Ui , ux , Java Developer , Java Architect...",Hyderabad / Secunderabad
13,Mubarak,Company HR,-,MoneyTap,Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,-,QuantMagnum Technologies Pvt. Ltd.,Mumbai
15,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Junior Level, Mid Level",Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data , Hadoop , Data Analytics , Data Science",Bhopal
17,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com (Since Jan-2014),"Junior Level, Mid Level",Hyderabad / Secunderabad
18,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED (Since Oct-2020),High Level,Chandigarh
19,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd (Since Apr-2021),IT Skills,Pune
20,Manisha Yadav,HR Executive,Easi Tax,Mid Level,Navi Mumbai
21,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions (Since May-2019),IT-Software/Software Services,Cochin
22,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,"Mid Level, Top Mangement Level",Delhi
23,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics , Data Science , Machine Learni...",Hyderabad / Secunderabad
24,Rithika dadwal,HR Recruiter,Affine Analytics,"Junior Level, Mid Level",Pune
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"High Level, Mid Level",Pune
26,Shaun Rao,Manager - Human Resources,Exela Technologies (Since Nov-2014),"Java , Net , Angularjs , Hr , Infrastructure ,...",Pune
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Mid Level, High Level",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,"High Level, Top Mangement Level",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science , Hadoop , Rpas , Devops , Python...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing , Machine Learning , Neural ...",Others
31,Rajat Kumar,Founder & CEO,R.S Consultancy & Services,"Web Technologies , Project Management , Softwa...",Delhi
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential (Since Jun-2016),"S. Finance Manager , Freshers , Experience , S...",Bengaluru / Bangalore
33,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd (Sinc...","Data Analytics , Managed Services , Team Leading",Mysoru / Mysore
34,Avodha,Business Development Associate,-,Nikitha Palaparthi,Hyderabad / Secunderabad
35,SREEDHAR,Recruitment Consultant,-,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad
36,Priya Khare,Senior Manager,-,Independent Consultant,Bengaluru / Bangalore
37,Amit Sharma,Consultant,-,ASCO consulting,New Delhi
38,Kanan,senior technology instructor,NY INST,"Mid Level, Junior Level",Chennai
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,-,3D India Staffing Research & Consulting Co. India,Aligarh
40,Brad,"Manager, Technical Recruiting",O.C. Tanner (Since Jan-2019),"Junior Level, High Level",Salt Lake City
41,Rutuja Pawar,Technical Recruiter,Demand Matrix (Since Feb-2018),"Python , Php , Qa Automation , Ui , Wordpre",Pune
42,Madhusudhan Sridhar,Erp Implementer,-,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore
43,Ankit Sinha,Head-Analytics,-,Suntech Global (Since Feb-2018),Mumbai
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Top Mangement Level, Junior Level",Indore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science , Node.js , Angularjs",Bengaluru / Bangalore
46,Ashwini,"Director, Global Delivery",-,MRP Advisers (Since Oct-2017),MYSORE
47,Balaji Kolli,Co-Founder,-,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad
48,Rajani Nagaraj,HR Manager,WildJasmine,"java , hadoop , r , Machine Learning , spark ,...",Bengaluru / Bangalore
49,ROHIT Kumar,Architect,LNT Private Limited (Since Jul-2017),"Mid Level, High Level",Mumbai
50,Amir Chowdhury,Managing Partner,-,Granular.ai,

In [525]:
driver.close()

Q8. Scrape the details of Highest selling novels.                                                                           
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/          
You have to find the following details:                                                                               
A) Book name                                                                                                              
B) Author name                                                                                                                
C) Volumes sold                                                                                                               
D) Publisher                                                                                                                 
E) Genre

In [437]:
# connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)
# opening site
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [447]:
# scraping all data about books
all_data = []
for i in driver.find_elements(By.XPATH,'//tr/td'):
    all_data.append(i.text)

In [449]:
all_data=all_data[1:]

In [459]:
# creating data frame
df = pd.DataFrame({'Book name':all_data[1::6],'Author name':all_data[2::6],'Volumes sold':all_data[3::6],'Publisher':all_data[4::6],'Genre':all_data[5::6]},index=list(range(1,101)))
print('details of Highest selling novels')
df

details of Highest selling novels

,Book name,Author name,Volumes sold,Publisher,Genre
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [460]:
driver.close()

Q9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/          
You have to find the following details:                                                                                      
A) Name                                                                                                                   
B) Year span                                                                                                                  
C) Genre                                                                                                                     
D) Run time                                                                                                                   
E) Ratings                                                                                                                   
F) Votes

In [461]:
# connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)
# opening site
driver.get("https://www.imdb.com/list/ls095964455/")

In [462]:
# scraping name
name = []
for i in driver.find_elements(By.XPATH,'//h3/a'):
    name.append(i.text)

In [465]:
# scraping year span
year = []
for i in driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]'):
    year.append(i.text)

In [468]:
# scraping Genre
genre = []
for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
    genre.append(i.text)

In [470]:
# scraping run time
run_time = []
for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
    run_time.append(i.text)

In [475]:
# scraping rating
rating = []
for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]'):
    rating.append(i.text)

In [479]:
# scraping votes
votes = []
for i in driver.find_elements(By.XPATH,'//span[@name="nv"]'):
    votes.append(i.text)

In [482]:
# creating dataframe
df = pd.DataFrame({"Name":name,"year-span":year,"Genre":genre,"Runtime":run_time,"Rating":rating,"Votes":votes},index=list(range(1,len(votes)+1)))
print('most watched tv shows of all time')
df

most watched tv shows of all time

,Name,year-span,Genre,Runtime,Rating,Votes
1,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,058,820"
2,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,152,994"
3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"971,309"
4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"289,644"
5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"249,119"
...,...,...,...,...,...,...
96,Reign,(2013–2017),Drama,42 min,7.4,"49,668"
97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,699"
98,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"195,382"
99,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,115"
100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"237,752"

In [483]:
driver.close()

Q10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/                          
You have to find the following details:                                                                            
A) Dataset name                                                                                                        
B) Data type                                  
C) Task                  
D) Attribute type              
E) No of instances            
F) No of attribute           
G) Year                                                                               
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [484]:
# connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)
# opening site
driver.get("https://archive.ics.uci.edu/")

In [486]:
# click on all dataset
driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a').click()

In [499]:
# scraping url of dataset
url = []
for i in driver.find_elements(By.XPATH,'//b/a'):
    url.append(i.get_attribute("href"))

In [502]:
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attribute = []
Year = []

In [503]:
for u in url:
    driver.get(u)
    time.sleep(1)
# Extracting Dataset_name 
    try:
        dn = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[1]/tbody/tr/td[1]/p[1]/span[1]/b')      
        Dataset_name.append(dn.text)
    except NoSuchElementException:
        Dataset_name.append('-')    
# extracting Data_type
    try:
        dt = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[2]/p')
        Data_type.append(dt.text)
    except NoSuchElementException:
        Data_type.append('-')
# extracting Task
    try:
        t = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[3]/td[2]/p')
        Task.append(t.text)
    except NoSuchElementException:
        Task.append('-')  
# extracting Attribute_type
    try:
        at = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[2]/p')
        Attribute_type.append(at.text)
    except NoSuchElementException:
        Attribute_type.append('-')        
# extracting No_of_instances
    try:
        ni = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[4]/p')
        No_of_instances.append(ni.text)
    except NoSuchElementException:
        No_of_instances.append('-')       
# extracting No_of_attribute
    try:
        na = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[4]/p')
        No_of_attribute.append(na.text)
    except NoSuchElementException:
        No_of_attribute.append('-')    
# extracting Year 
    try:
        y = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[6]/p')
        Year.append(y.text)
    except NoSuchElementException:
        Year.append('-')

In [505]:
# creating dataframe 
df = pd.DataFrame({"Dataset_name":Dataset_name,"Data_type":Data_type,"Task":Task,"Attribute_type":Attribute_type,"No_of_instances":No_of_instances,"No_of_attribute":No_of_attribute,"extracting Year":Year},index=list(range(1,len(Year)+1)))
print("Datasets from UCI machine learning repositories")
df

Datasets from UCI machine learning repositories

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,extracting Year
1,Abalone Data Set,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995-12-01
2,Adult Data Set,Multivariate,Classification,"Categorical, Integer",48842,14,1996-05-01
3,Annealing Data Set,Multivariate,Classification,"Categorical, Integer, Real",798,38,N/A
4,Anonymous Microsoft Web Data Data Set,N/A,Recommender-Systems,Categorical,37711,294,1998-11-01
5,Arrhythmia Data Set,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998-01-01
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020-12-16
619,Turkish Music Emotion Dataset Data Set,Multivariate,Classification,"Integer, Real",400,50,2020-12-20
620,Maternal Health Risk Data Set Data Set,N/A,Classification,N/A,1014,7,2020-12-31
621,Room Occupancy Estimation Data Set,"Multivariate, Time-Series",Classification,Real,10129,16,2021-01-16
622,Image Recognition Task Execution Times in Mobi...,"Univariate, Sequential, Time-Series",Regression,Real,4000,2,2020-12-13

In [507]:
driver.close()