# ASSIGNMENT-2

## WEB SCRAPING

### Q1:

Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
# installing selenuim
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
# importing necessary libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import warnings
warnings.filterwarnings('ignore')

In [5]:
# connecting to chromedriver
driver = webdriver.Chrome(r"chromedriver.exe")

In [6]:
# getting the webpage
driver.get("https://www.naukri.com/")

In [7]:
# Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")

In [8]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys("Bangalore")

In [10]:
# clicking the search button.
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

* lets move to scraping part as i reached to the desied page

In [11]:
# first creating empty list to store the data
job_title = []
job_location = []
company_name = []
experience_required = []

In [12]:
# scrape the data for the first 10 jobs results you get.
# scraping job title from given page
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
# scraping job location from given page
location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
# scraping company name from the given page
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

# scraping job experience for the given page
experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [13]:
# checking length of our lists
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [18]:
# creating dataframe for our data
df = pd.DataFrame({'JOB TITLE':job_title,'LOB LOCATION':job_location,'COMPANY NAME':company_name,'EXPERIENCE REQUIRED':experience_required},index=list(range(1,11)))
print("Data for “Data Analyst” Job position in “Bangalore” location :")
df

Data for “Data Analyst” Job position in “Bangalore” location :

,JOB TITLE,LOB LOCATION,COMPANY NAME,EXPERIENCE REQUIRED
1,Data Analyst,Bangalore/Bengaluru,Augie Pets India Pvt limited,0-3 Yrs
2,Data Analyst,Bangalore/Bengaluru,Novel Office,0-3 Yrs
3,BYJU'S DBEL : Sr Data Analyst,Bangalore/Bengaluru,BYJUS,3-7 Yrs
4,SR. Data Analyst- SME- Pharma and Healthcare,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",CHRYSELYS,2-6 Yrs
5,Business Data Analyst,Bangalore/Bengaluru,Varite,8-11 Yrs
6,Senior Data Analyst - KPO,"Bangalore/Bengaluru, Gurgaon/Gurugram, Gurgaon...",Huquo Consulting Pvt. Ltd,7-12 Yrs
7,Data Analyst 2,Bangalore/Bengaluru,Optum,7-10 Yrs
8,Data Analyst 1,Bangalore/Bengaluru,Optum,3-5 Yrs
9,Associate Data Analyst,Bangalore/Bengaluru,Optum,4-7 Yrs
10,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs

### Q2:

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [19]:
# installing selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [20]:
# importing necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import warnings
warnings.filterwarnings('ignore')

In [21]:
# lets first connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [22]:
# opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [23]:
# enter desigation and location as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [24]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [25]:
# clicking the search button.
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

* lets move to scraping part as i reached to the desied page

In [26]:
# first creating empty list to store the data
job_title2 = []
job_location2 = []
company_name2 = []

In [30]:
# scraping job title from given page
title_tags2 = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags2[0:10]:
    title2 = i.text
    job_title2.append(title2)
    
# scraping job location from given page
location_tags2 = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags2[0:10]:
    location2 = i.text
    job_location2.append(location2)
    
# scraping company name from the given page
company_tags2 = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags2[0:10]:
    company2 = i.text
    company_name2.append(company2)

In [31]:
# checking length of our lists
print(len(job_title2),len(job_location2),len(company_name2))

10 10 10

In [32]:
# creating dataframe for our data
df = pd.DataFrame({'JOB TITLE':job_title2,'LOB LOCATION':job_location2,'COMPANY NAME':company_name2},index=list(range(1,11)))
print("Data for “Data Scientist” Job position in “Bangalore” location :")
df

Data for “Data Scientist” Job position in “Bangalore” location :

,JOB TITLE,LOB LOCATION,COMPANY NAME
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
4,Data Scientist / Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Mindtree
5,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
6,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
7,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",SMARTPADDLE TECHNOLOGY PVT. LTD.
8,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
9,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
10,Team Lead/Consultant-Data Science,Bangalore/Bengaluru,Accenture

### Q3:

In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code.

In [33]:
# installing selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [34]:
# import necessary libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import warnings
warnings.filterwarnings('ignore')

In [41]:
# connection to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [42]:
# opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [43]:
# enter desigation and location as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [44]:
# clicking the search button.
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [45]:
# apply location “Delhi/NCR”
location  = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]")
location.click()

In [46]:
# apply salary range (3-6Lakhs)
salary = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary.click()

* Now, I have selected all the filters                                             
* let's move to scraping part

In [47]:
# first creating empty list to store the data
job_title3 = []
job_location3 = []
company_name3 = []
experience_required3 = []

In [48]:
# scraping job title from given page
title_tags3 = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags3[0:10]:
    title3 = i.text
    job_title3.append(title3)
    
# scraping job location from given page
location_tags3 = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags3[0:10]:
    location3 = i.text
    job_location3.append(location3)
    
# scraping company name from the given page
company_tags3 = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags3[0:10]:
    company3 = i.text
    company_name3.append(company3)

# scraping job experience for the given page
experience_tags3 = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags3[0:10]:
    experience3 = i.text
    experience_required3.append(experience3)

In [49]:
# checking length of our lists
print(len(job_title3),len(job_location3),len(company_name3),len(experience_required3))

10 10 10 10

In [51]:
# creating dataframe for our data
df = pd.DataFrame({'JOB TITLE':job_title3,'LOB LOCATION':job_location3,'COMPANY NAME':company_name3,'EXPERIENCE REQUIRED':experience_required3},index=list(range(1,11)))
print("Data for “Data Scientist” Job position in “Delhi / NCR” location and Salary (3-6 lakhs):")
df

Data for “Data Scientist” Job position in “Delhi / NCR” location and Salary (3-6 lakhs):

,JOB TITLE,LOB LOCATION,COMPANY NAME,EXPERIENCE REQUIRED
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
3,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
6,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
7,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
8,Data Scientist,Noida,4i Odc,2-4 Yrs
9,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
10,"Data Scientist, Associate",Delhi / NCR,NatWest Group,2-7 Yrs

### Q4:

Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price                                                                                                                       
   The attributes which you have to scrape is ticked marked in the below image.
* To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
   click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
   required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
   click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [70]:
# installing selenium
!pip install selenium

# import necessary libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [53]:
# connection to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [54]:
# opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [56]:
# canceling the login popup
login = driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
login.click()

In [57]:
# Enter “sunglasses” in the search field
search_field = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_field.send_keys("sunglasses")

In [59]:
# click on search button
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

* Reached to sunglasses page 
* moving to scrap data

In [60]:
# creating empty lists to store data
brand = []
product_description = []
price = []
less_price = []

In [102]:
# scraping brands of first 100 sunglasses
start = 0
end = 3
for page in range(start,end):
    glasses_brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in glasses_brand:
        glass = i.text
        brand.append(glass)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3) 
brand = brand[0:100]    

# scraping product description of first 100 sunglasses
for page in range(start,end):
    discription = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in discription:
        product_description.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
product_description = product_description[0:100]    
 
# scraping price of first 100 sunglasses
for page in range(start,end):
    glass_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in glass_price:
        price.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
price = price[0:100]

# scraping discount on first 100 sunglasses
for page in range(start,end):
    less_glass_price = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in less_glass_price:
        less_price.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
less_price = less_price[0:100]

In [103]:
# checking length of our lists
print(len(brand),len(product_description),len(price),len(less_price))

100 100 100 100

In [104]:
# creating dataframe for our data
df = pd.DataFrame({'BRAND':brand,'PRODUCT DISCRIPTION':product_description,'PRICE(After Discount)':price,'DISCOUNT':less_price},index=list(range(1,101)))
print("Details of first 100 'SunGlasses' on Flipkart :")
df

Details of first 100 'SunGlasses' on Flipkart :

,BRAND,PRODUCT DISCRIPTION,PRICE(After Discount),DISCOUNT
1,VINCENT CHASE,"UV Protection, Gradient Round Sunglasses (Free...",₹949,70% off
2,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹949,80% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹710,90% off
4,ROZZETTA CRAFT,UV Protection Wayfarer Sunglasses (Free Size),₹499,20% off
5,kingsunglasses,UV Protection Round Sunglasses (54),₹189,88% off
...,...,...,...,...
96,SRPM,"Riding Glasses, Night Vision Spectacle Sunglas...",₹220,80% off
97,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (Free Size),₹399,20% off
98,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...","₹1,533",60% off
99,Fastrack,UV Protection Aviator Sunglasses (54),₹719,84% off
100,kingsunglasses,UV Protection Aviator Sunglasses (54),₹269,82% off

# Q5:

Scrape 100 reviews data from flipkart.com for iphone11 phone.                                                               
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
* As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [1]:
# installing selenium
!pip install selenium

# import necessary libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
# connection to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [3]:
# opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [4]:
# canceling the login popup
login = driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
login.click()

In [5]:
# Enter “iphone 11” in the search field
search_field = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_field.send_keys("iphone 11")

In [6]:
# click on search button
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

* Reached to iphone 11 page 
* moving to scrap data

In [7]:
# click on reviews
rev = driver.find_element(By.XPATH,'//span[@class="_2_R_DZ"]')
rev.click()

In [8]:
# shifting to next windows
driver.switch_to.window(driver.window_handles[1])

In [9]:
# click on all reviews
all_rev = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div/span')
all_rev.click()

In [11]:
# crating empty lists to store data
rating_of_phone = []
review_summary = []
full_review = []

In [18]:
# let's start scraping
start = 0 
end  = 10

# scraping rating of iphone
for page in range(start,end):
    P_rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in P_rating:
        rating_of_phone.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [19]:
# scraping review summary
for page in range(start,end):
    rs = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in rs:
        review_summary.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [21]:
# moving to first page
f_p = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]')
f_p.click()

In [22]:
# scraping full summary of iphone 11
for page in range(start,end):
    frs = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in frs:
        full_review.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [25]:
# checking length of our lists
print(len(rating_of_phone),len(review_summary),len(full_review))

101 100 100

In [29]:
# creating dataframe for our data
df = pd.DataFrame({'RATING OF IPHONE 11':rating_of_phone[0:100],'REVIEW SUMMARY':review_summary[0:100],'FULL REVIEW':full_review[0:100]},index=list(range(1,101)))
print("Reviews on iphone 11 from first 100 people on flipkart :")
df

Reviews on iphone 11 from first 100 people on flipkart :

,RATING OF IPHONE 11,REVIEW SUMMARY,FULL REVIEW
1,4,Highly recommended,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Perfect product!,Great iPhone very snappy experience as apple k...
4,5,Perfect product!,Previously I was using one plus 3t it was a gr...
5,5,Worth every penny,What a camera .....just awesome ..you can feel...
...,...,...,...
96,5,Fabulous!,Iphone is just awesome.. battery backup is ver...
97,5,Great product,"Amazing camera quality as expected, battery al..."
98,5,Worth every penny,Really worth of money. i just love it. It is t...
99,5,Highly recommended,This is my first ever I phone. Before this I w...
100,5,Good choice,Best budget Iphone till date ❤️ go for it guys...

### Q6:

Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [181]:
# installing selenium
!pip install selenium

# import necessary libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [182]:
# connection to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [183]:
# opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [184]:
# canceling the login popup
login = driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
login.click()

In [185]:
# Enter “iphone 11” in the search field
search_field = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_field.send_keys("sneakers")

In [186]:
# click on search button
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

* Reached to sneakers page
* moving to scrap data

In [187]:
# creating empty lists to store data
sbrand = []
sproduct_description = []
sprice = []
sless_price = []

In [190]:
# scraping brands of first 100 sneakers
start = 0
end = 3
for page in range(start,end):
    sneaker_brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in sneaker_brand:
        glass = i.text
        sbrand.append(glass)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3) 
sbrand = sbrand[0:100]    

# scraping product description of first 100 sneakers
for page in range(start,end):
    sdiscription = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in sdiscription:
        sproduct_description.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
sproduct_description = sproduct_description[0:100]    
 
# scraping price of first 100 sneakers
for page in range(start,end):
    sglass_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in sglass_price:
        sprice.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
sprice = sprice[0:100]

# scraping discount on first 100 sunglasses
for page in range(start,end):
    sless_glass_price = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in sless_glass_price:
        sless_price.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
sless_price = sless_price[0:100]

In [191]:
# checking length of our lists
print(len(sbrand),len(sproduct_description),len(sprice),len(sless_price))

100 100 100 100

In [192]:
df = pd.DataFrame({'BRAND':sbrand,'PRODUCT DISCRIPTION':sproduct_description,'PRICE(After Discount)':sprice,'DISCOUNT':sless_price},index=list(range(1,101)))
print("Details of first 100 'Sneakers' on Flipkart :")
df

Details of first 100 'Sneakers' on Flipkart :

,BRAND,PRODUCT DISCRIPTION,PRICE(After Discount),DISCOUNT
1,Magnolia,Men's Sneakers Fashion Lightweight Running Sho...,₹419,40% off
2,Labbin,Sneakers For Men,₹449,60% off
3,KWIK FIT,Sneakers For Men,₹357,62% off
4,DUCATI,Original Luxury Branded Fashionable Men's Casu...,₹971,52% off
5,aadi,Rebound JOY Sneakers For Men,₹288,45% off
...,...,...,...,...
96,ASTEROID,Sneakers For Men,₹474,34% off
97,Chevit,CR-1 Sneakers For Men,₹499,78% off
98,Deals4you,Sneakers For Men,₹383,57% off
99,BRUTON,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,₹199,52% off
100,BRUTON,Comfortable & Ultra Light Weight Sneaker Sneak...,₹376,66% off

### Q7:

Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.                                               
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe                         
description, price of the shoe as shown in the below image.

In [1]:
# installing selenium
!pip install selenium

# installing important libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time

import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [211]:
# connecting to the driver 
driver = webdriver.Chrome(r"chromedriver.exe")

In [212]:
# connecting to the site
driver.get("https://www.myntra.com/shoes")

In [213]:
# setting color filter to black
color_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]')
color_filter.click()

In [214]:
# setting second price filter
price_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [215]:
# creating lists to store data
shoe_brand = []
shoe_discrip = []
shoe_price = []

In [216]:
# scraping the data
start = 0
end = 2
# scraping shoe brand
for page in range(start,end):
    shoe_b = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in shoe_b:
        shoe_brand.append(i.text)
    next_button = driver.find_element(By.XPATH,'//span[@class="pagination-arrowRight"]')
    next_button.click()
    time.sleep(3) 
shoe_brand = shoe_brand[0:100]

In [218]:
# to come back at first page
first = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]')
first.click()

In [219]:
# scraping product description of first 100 shoes
for page in range(start,end):
    shoe_discription = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in shoe_discription:
        shoe_discrip.append(i.text)
    next_button = driver.find_element(By.XPATH,'//span[@class="pagination-arrowRight"]')
    next_button.click()
    time.sleep(3)
shoe_discrip = shoe_discrip[0:100]

In [239]:
# to come back at first page
first = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]')
first.click()

In [241]:
# scraping price of first 100 shoes
for page in range(start,end):
    s_price = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in s_price:
        shoe_price.append(i.text)
    next_button = driver.find_element(By.XPATH,'//span[@class="pagination-arrowRight"]')
    next_button.click()
    time.sleep(3)
shoe_price = shoe_price[0:100]

In [243]:
# checking length of our lists
print(len(shoe_brand),len(shoe_discrip),len(shoe_price))

100 100 100

In [245]:
# creating dataframe for our data
df = pd.DataFrame({'BRAND':shoe_brand,'SHOES DESCRIPTION':shoe_discrip,'SHOES PRICE':shoe_price},index=list(range(1,101)))
print("FIRST 100 'BLACK' SHOES DESCRIPTION UNDER (Rs. 7187 to Rs. 14125) on MYNTRA :")
df

FIRST 100 'BLACK' SHOES DESCRIPTION UNDER (Rs. 7187 to Rs. 14125) on MYNTRA :

,BRAND,SHOES DESCRIPTION,SHOES PRICE
1,Nike,Men ZOOM WINFLO8 Running Shoes,Rs. 7880Rs. 8295(5% OFF)
2,Nike,Men React Infinity 3 Running,Rs. 13295Rs. 13995(5% OFF)
3,Nike,Men JORDAN LOW Basketball Shoe,Rs. 12795
4,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 7649Rs. 8999(15% OFF)
5,ADIDAS,Men Ultraboost 5.0 DNA Running,Rs. 12749Rs. 16999(25% OFF)
...,...,...,...
96,Royal Enfield,Cabo WP Riding Boots,Rs. 8500
97,ECCO,Leather Block Heels,Rs. 13999
98,J.FONTINI,Men Leather Formal Loafers,Rs. 7490
99,Heel & Buckle London,Men Leather Sneakers,Rs. 11192Rs. 13990(20% OFF)
100,DAVINCHI,Men Formal Leather Slip-Ons,Rs. 8990

### Q8:

Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [1]:
# installing selenium
!pip install selenium

# import necessary libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
# connection to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')

In [3]:
# opening the site on automated chrome browser
driver.get("https://www.amazon.in/")

In [4]:
# Enter “laptop” in the search field
search_field = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_field.send_keys("Laptop")

In [7]:
# click on search
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [8]:
# setting CPU Type filter to “Intel Core i7”
filter_cpu = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[12]/span/a/span')
filter_cpu.click()

In [9]:
# creating empty list to store the data
lap_title = []
lap_rating = []
lap_price = []

In [10]:
# now i am on the location and starting the scraping of asked data

# scraping title
title_l = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_l[0:10]:
    k = i.text
    lap_title.append(k)

In [11]:
# scraping price of laptop
l_price = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in l_price[0:10]:
    company = i.text
    lap_price.append(company)

In [12]:
# scraping laptop rating

In [16]:
# to scrape rating of 1st laptop
click1 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]')
click1.click()

In [17]:
rate1 = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
for i in rate1:
    lap_rating.append(i.text)

In [19]:
# free click
free_c = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div[2]/div/div/div[3]/div[2]/div')
free_c.click()

In [21]:
# to scrape 2nd laptop rating
click2 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[4]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]')
click2.click()

In [22]:
rate2 = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
for i in rate2:
    lap_rating.append(i.text)

In [24]:
# free click
free_c = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div[2]/div/div/div[3]/div[2]/div')
free_c.click()

In [26]:
# to scrape 3rd laptop rating
click3 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[5]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]')
click3.click()

In [27]:
rate3 = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
for i in rate3:
    lap_rating.append(i.text)

In [28]:
# free click
free_c = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div[2]/div/div/div[3]/div[2]/div')
free_c.click()

In [29]:
# to scrape 4th laptop rating
click4 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[7]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]')
click4.click()

In [30]:
rate4 = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
for i in rate4:
    lap_rating.append(i.text)

In [31]:
# free click
free_c = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div[2]/div/div/div[3]/div[2]/div')
free_c.click()

In [32]:
# to scrape 5th laptop rating
click5 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[8]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]')
click5.click()

In [33]:
rate5 = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
for i in rate5:
    lap_rating.append(i.text)

In [34]:
# free click
free_c = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div[2]/div/div/div[3]/div[2]/div')
free_c.click()

In [35]:
# to scrape 6th laptop rating
click6 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[9]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]')
click6.click()

In [36]:
rate6 = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
for i in rate6:
    lap_rating.append(i.text)

In [37]:
# free click
free_c = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div[2]/div/div/div[3]/div[2]/div')
free_c.click()

In [38]:
# 7th laptop has no rating so i will write no rating there
lap_rating.append('no rating')

In [39]:
# to scrape 8th laptop rating
click8 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[12]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]')
click8.click()

In [40]:
rate8 = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
for i in rate8:
    lap_rating.append(i.text)

In [41]:
# free click
free_c = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div[2]/div/div/div[3]/div[2]/div')
free_c.click()

In [42]:
# to scrape 9th laptop rating
click9 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[12]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]')
click9.click()

In [43]:
rate9 = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
for i in rate9:
    lap_rating.append(i.text)

In [44]:
# free click
free_c = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div[2]/div/div/div[3]/div[2]/div')
free_c.click()

In [45]:
# to scrape 10th laptop rating
click10 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[13]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]')
click10.click()

In [46]:
rate10 = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
for i in rate10:
    lap_rating.append(i.text)

In [47]:
# free click
free_c = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div[2]/div/div/div[3]/div[2]/div')
free_c.click()

In [69]:
l=lap_rating

In [70]:
for i in range(0,len(l)):
    if i=='':
        l.remove(i)

In [71]:
l

['3.9 out of 5',
 '4.4 out of 5',
 '3.3 out of 5',
 '3.8 out of 5',
 '4.8 out of 5',
 '4.3 out of 5',
 'no rating',
 '4 out of 5',
 '4 out of 5',
 '4.7 out of 5']

In [72]:
# checking lenght of the lists
print(len(lap_title),len(l),len(lap_price))

10 10 10

In [75]:
# creating dataframe for our list
df = pd.DataFrame({'LAPTOP':lap_title,'LAPTOP RATING':l,'LAPTOP PRICE':lap_price},index=list(range(1,11)))
print("DETAILS OF FIRST 10 i7 LAPTOPS ON AMAZON ")
df

DETAILS OF FIRST 10 i7 LAPTOPS ON AMAZON

,LAPTOP,LAPTOP RATING,LAPTOP PRICE
1,Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...,3.9 out of 5,"62,990"
2,Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...,4.4 out of 5,"1,06,999"
3,(Renewed) Lenovo Intel Core i7 5600U 12.5-Inch...,3.3 out of 5,"26,998"
4,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.8 out of 5,"57,990"
5,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,4.8 out of 5,"81,990"
6,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.3 out of 5,"80,990"
7,(Renewed) HP Elitebook 840G1-i7-8 GB-2 TB 14-i...,no rating,"41,690"
8,"HP Victus 11th Gen Intel Core i7-11800H 16.1"" ...",4 out of 5,"1,01,490"
9,"ASUS TUF Gaming F15 (2022), 15.6"" (39.62 cms) ...",4 out of 5,"1,07,990"
10,"ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...",4.7 out of 5,"1,26,990"

### Q9:

Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
   “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
   “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [247]:
# installing selenium
!pip install selenium

# installing important libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time

import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [248]:
# connecting to the driver 
driver = webdriver.Chrome(r"chromedriver.exe")

In [249]:
# connecting to the site
driver.get("https://www.ambitionbox.com/")

In [250]:
# click on the close button of the login page to reach the main pain
cancel = driver.find_element(By.XPATH,'/html/body/section[10]/div[1]/div[2]/a/i')
cancel.click()

In [251]:
# click on job button
job_button = driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a')
job_button.click()

In [252]:
# enter 'data scientist' on search bar
search_bar = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search_bar.send_keys('Data Scientist')

In [254]:
# click on search button
search_button = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
search_button.click()

In [255]:
# click on location
location_selector = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location_selector.click()

In [256]:
# enter 'noida' in search location
enter_location = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
enter_location.send_keys('Noida')

In [257]:
# select 'noida' from the options
select_nodia = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select_nodia.click()

In [258]:
# creating empty lists to store data
company_name = []
no_of_days = []
rating_of_company = []

In [286]:
# scraping company name, No. of days ago when job was posted, Rating of the company.
company_n = driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in company_n[0:10]:
    company_name.append(i.text)

# scraping no of days when job was posted
days = driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in days[0:20]:
    no_of_days.append(i.text)
no_of_days = no_of_days[0:20:2]        

# scraping rating of the company
rating = driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in rating[0:10]:
    rating_of_company.append(i.text)

In [289]:
# checking length of our lists
print(len(company_name),len(no_of_days),len(rating_of_company))

10 10 10

In [290]:
# create data for our data
df = pd.DataFrame({'COMPANY NAME':company_name,'JOB POSTED ON AMBITIONBOX':no_of_days,'RATING':rating_of_company},index=list(range(1,11)))
print("data for first 10 job results for Data Scientist Designation in Noida location. (AMBITIONBOX) :")
df

data for first 10 job results for Data Scientist Designation in Noida location. (AMBITIONBOX) :

                                COMPANY NAME JOB POSTED ON AMBITIONBOX RATING
1                    CBRE South Asia Pvt Ltd                   25d ago    4.3
2              GENPACT India Private Limited                   20d ago    4.0
3                                    Genpact                   28d ago    4.0
4   Ericsson India Global Services Pvt. Ltd.                  1mon ago    4.3
5              GENPACT India Private Limited                  1mon ago    4.0
6                    Dew Solutions Pvt. Ltd.                   25d ago    4.3
7   Ericsson India Global Services Pvt. Ltd.                   18d ago    4.3
8               One97 Communications Limited                   20d ago    3.8
9                                         EY                  1mon ago    3.8
10              R Systems International Ltd.                   28d ago    3.7

### Q10:

Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
   then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
   salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [373]:
# installing selenium
!pip install selenium

# installing important libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time

import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [117]:
# connecting to the driver 
driver = webdriver.Chrome(r"chromedriver.exe")

In [118]:
# connecting to the site
driver.get("https://www.ambitionbox.com/")

In [121]:
# click on the close button of the login page to reach the main pain
cancel = driver.find_element(By.XPATH,'/html/body/section[10]/div[1]/div[2]/a/i')
cancel.click()

In [122]:
# click on the salary option
salary_button = driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/a')
salary_button.click()

In [123]:
# click on browse salary
browse = driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]/p')
browse.click()

In [124]:
# enter desgination data scientist
desig  = driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
desig.send_keys('Data Scientist')

In [125]:
# click on search buttom
dsearch = driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
dsearch.click()

In [126]:
# creating empty list to store data
companys_name = []
total = []
avg = []
exp = []
min_max = []

In [127]:
# now, scraping the data

# scraping company name
c_name = driver.find_elements(By.XPATH,'//a[@data-v-4c07f399]')
for i in c_name[0:10]:
    companys_name.append(i.text.replace('\nData Scientist Salary'," "))

In [128]:
# scraping total salary records
total_sal = driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in total_sal[0:10]:
    total.append(i.text)

In [129]:
# scraping min salary
# min_sal = driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
# for i in min_sal[0:10]:
#    minimun.append(i.text)

In [130]:
# instead of scraping min salary and max salary separately i am scraping it together it will look good in dataframe

In [169]:
# scraping min to max salary
max_sal = driver.find_elements(By.XPATH,'//div[@class="salary-values"]')
for i in max_sal[0:10]:
    min_max.append(i.text.replace('\n'," to "))

In [132]:
# scraping avg salary
avg_sal = driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_sal[0:10]:
    avg.append(i.text)

In [160]:
# scraping experience
expe = driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in expe[0:10]:
    exp.append(i.text.replace(' (based on ',' ').replace(' salaries)',' ').replace('22',' ').replace('54',' ').replace('39',' ').replace('34',' ').replace('116',' ').replace('67',' ').replace('10',' ').replace('11',' ').replace('13',' ').replace('49',' '))

In [163]:
# let's count element in our list
print(len(companys_name),len(total),len(avg),len(min_max),len(exp))

10 10 10 10 10

In [170]:
# creating dataframe for our data
df = pd.DataFrame({'COMPANY NAME':companys_name,'SALARY COUNT':total,'AVERAGE SALARY':avg,'MINIMUM TO MAXIMUM SALARY':min_max,'EXPERIENCE REQUIRED':exp},index=list(range(1,11)))
print("Salaries data for Data Scientist designation :")
df

Salaries data for Data Scientist designation :

,COMPANY NAME,SALARY COUNT,AVERAGE SALARY,MINIMUM TO MAXIMUM SALARY,EXPERIENCE REQUIRED
1,Walmart,(based on 22 salaries),₹ 32.2L,₹ 25.0L to ₹ 45.0L,3-4 yrs experience
2,Ab Inbev,(based on 54 salaries),₹ 19.8L,₹ 15.0L to ₹ 26.0L,2-4 yrs experience
3,Optum,(based on 49 salaries),₹ 16.4L,₹ 11.0L to ₹ 22.6L,2-4 yrs experience
4,ZS,(based on 34 salaries),₹ 15.8L,₹ 11.0L to ₹ 22.0L,1-2 yrs experience
5,Fractal Analytics,(based on 116 salaries),₹ 15.5L,₹ 9.0L to ₹ 24.0L,2-4 yrs experience
6,Tiger Analytics,(based on 67 salaries),₹ 14.7L,₹ 9.0L to ₹ 20.0L,2-4 yrs experience
7,Sigmoid Analytics,(based on 10 salaries),₹ 14.7L,₹ 12.7L to ₹ 19.7L,1 yr experience
8,Legato Health Technologies,(based on 11 salaries),₹ 14.5L,₹ 11.0L to ₹ 20.0L,4 yrs experience
9,Tredence,(based on 13 salaries),₹ 14.1L,₹ 8.8L to ₹ 17.5L,3 yrs experience
10,HSBC,(based on 10 salaries),₹ 14.0L,₹ 12.0L to ₹ 18.0L,4 yrs experience